﻿@model TestSeries.Models.Exams

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
    
}



   
<div ng-app="ExamEntry">
    <div ng-controller="ExamController" ng-init="init(@Model.Id)">
        <div class="row">
            <div class="modal-backdrop" style="background:rgba(0, 0, 0, 0.5)!important " ng-show="Busy">
                <div style="position:fixed;top:50%;left:25%;width:50%">
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" style="width:100%" aria-valuenow="Please wait Loading ....">
                                Please wait!
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!--
                                   ====================================================================================================
                                   ===================================     EXAM CREATION  START      ==============================
                                   ====================================================================================================
                                -->

            <div class="col-md-9 col-md-9 content-panel ng-binding">
                <h4>
                    Exam  <i class="fa fa-angle-right"></i>
                    {{IsNew?"Create":"Edit"}} | {{Exam.Active?"Published":(IsNew?"New Entry":"Drafted")}}
                    <button type="button" ng-show="!IsNew" ng-click="NewExam()" class="btn btn-default pull-right">Add New</button>
                    @*@Html.ActionLink("List Exams", "Index", null, new { @class = "btn btn-primary pull-right" })*@
                </h4>
                <div class="clearboth">
                </div>

                <hr />

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input ng-model="Exam.Name" type="text" required class="form-control" />
                            @*@Html.TextBoxFor(model => model.Name, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Alias, new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="text" ng-model="Exam.Alias" required class="form-control" />
                           @* @Html.TextBoxFor(model => model.Alias, "", new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.Alias)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <textarea ng-model="Exam.Description" class="form-control"></textarea>
                            @*@Html.TextAreaFor(model => model.Description, 5, 6, new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TotalQuestion, new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="text" ng-model="Exam.TotalQuestion" required class="form-control" />
                            @Html.ValidationMessageFor(model => model.TotalQuestion)
                        </div>
                    </div>


                    <div class="row alert alert-shadow">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="checkbox" ng-model="Exam.IsNegativeMarking"  />
                                   
                                    @Html.LabelFor(model => model.IsNegativeMarking, new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.IsNegativeMarking)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Negative, new { @class = "control-label" })
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" ng-model="Exam.Negative" class="form-control" ng-disabled="!Exam.IsNegativeMarking" />
                                       
                                        <div class="input-group-addon">Marks</div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Negative)
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OnNoQuestion, new { @class = "control-label" })
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">Out of </div>
                                        <input type="text" ng-model="Exam.OnNoQuestion" class="form-control" ng-disabled="!Exam.IsNegativeMarking" />
   
                                        <div class="input-group-addon">Marks</div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.OnNoQuestion)
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <div class="col-md-10">
                                    <input type="checkbox" ng-model="Exam.PercentageAllowed" ng-disabled="!Exam.IsNegativeMarking" />
                                    
                                    @Html.LabelFor(model => model.PercentageAllowed, new { @class = "control-label" })
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SetCount, new { @class = "control-label" })
                                <div class="col-md-12">
                                    <input type="text" ng-model="Exam.SetCount" class="form-control" />
                                   
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Duration, new { @class = "control-label" })
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" ng-model="Exam.Duration" class="form-control" />
                                      
                                        <div class="input-group-addon">Second</div>
                                    </div>                               
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                       <div class="col-md-12">
                           <div class="checkbox-inline">
                               <input type="checkbox" ng-model="Exam.Random" />@Html.LabelFor(model => model.Random, new { @class = "control-label" })
                           </div>
                       </div> 
                        
                    </div>


                <div class="row">


                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.TotalQuestion, new { @class = "control-label col-md-2" })


                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.TotalQuestion,new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TotalQuestion)
                            </div>
                        </div>
                    </div>



                </div>

            </div>
     </div>
            <!----------------      panel------------------>

            <div class="col-md-3 bg-inverse  content-panel">
                <h4>Panel</h4>
                <div class="desc">
                    <button type="button" class="btn btn-theme btn-sm pull-left" ng-click="SaveExam(false)">Save as Draft</button>
                    <button type="button" class="btn btn-theme btn-sm pull-right" ng-click="SaveExam(true)">Publish</button>
                </div>
                <div class="clearfix"></div>
                <hr />
                
               
                <span class="label label-default">Available Exams</span>
                <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y" style="max-height:300px;">

                    <table class="table" >
                        <tr ng-repeat="i in Exams" >
                          <td>  {{i.Name}} <button type="button" class="btn btn-round btn-info btn-xs pull-right"  ng-click="EditExam(i)">Edit</button></</td>
                        </tr>
                    </table>
                    <pagination boundary-links="true" total-items="Pager.TotalPage" ng-model="Pager.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    @*<div data-pagination="" data-num-pages="Pager.TotalPage"
                         data-current-page="Pager.page" data-max-size="Pager.size"
                         data-boundary-links="true"></div>*@
                </div>
                <div class="desc">
                    <button type="button" class="btn btn-theme btn-sm pull-left" ng-click="SaveExam(false)">Save as Draft</button>
                    <button type="button" class="btn btn-theme btn-sm pull-right" ng-click="SaveExam(true)">Publish</button>
                </div>
            <!--
                                    ====================================================================================================
                                    ===================================  AVAILABE   EXAMS  END      ==============================
                                    ====================================================================================================
                                 -->


        </div> 


            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/toaster.js"></script>
<script src="~/Scripts/angular-busy.min.js"></script>
<script src="~/Scripts/ExamEntry.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
<link href="~/Assets/adminTheme/Theme/assets/CustomeScroll/jquery.mCustomScrollbar.css" rel="stylesheet" />
<script src="~/Assets/adminTheme/Theme/assets/CustomeScroll/jquery.mCustomScrollbar.concat.min.js"></script>

}
