﻿@model TestSeries.Models.Exams

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Exams</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnNoQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnNoQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNegativeMarking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNegativeMarking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentageAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Random)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Random)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
