﻿@model TestSeries.Models.Subject

@{
    ViewBag.Title = "Subjects";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

@*<div class="row content-panel ">
        <div class="col-md-12 ng-binding">
            <h4>
                Choose Subject(s) for [Exam Name]          <span class="btn btn-round btn-info pull-right">Total Question:- 50 </span>
            </h4>
            <div class="clearboth">
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <span class=""></span>:<span class="btn btn-round btn-info">Total Question:- 50 </span>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><span class="label label-info large">Beginer-4333 </span></div>
                        <div class="col-md-4"><span class="label label-info large">Beginer-4333 </span></div>
            </div>
            <div class="col-md-6"></div>

            <table id="todo" class="table table-hover custom-check">
                <tbody>
                    <tr>
                        <td>

                            Math

                        </td>
                        <td>
                            <span class="">Beginer: 5 </span>

                        </td>
                        <td>
                            <span class="">Moderate: 3 </span>

                        </td>
                        <td>
                            <span class="">Advance: 1 </span>

                        </td>
                        <td>
                            <span class="btn btn-round btn-success">Total Question:- 50 </span>
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Math

                        </td>
                        <td>
                            <span class="">Beginer: 5 </span>

                        </td>
                        <td>
                            <span class="">Moderate: 3 </span>

                        </td>
                        <td>
                            <span class="">Advance: 1 </span>

                        </td>
                        <td>
                            <span class="btn btn-round btn-success">Total Question:- 50 </span>
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Math

                        </td>
                        <td>
                            <span class="">Beginer: 5 </span>

                        </td>
                        <td>
                            <span class="">Moderate: 3 </span>

                        </td>
                        <td>
                            <span class="">Advance: 1 </span>

                        </td>
                        <td>
                            <span class="btn btn-round btn-success">Total Question:- 50 </span>
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="bg-warning">

                            Remaining

                        </td>

                        <td>
                            <span class="btn btn-round btn-success">Total Question:- 50 </span>
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        </td>
                    </tr>
                    @*<tr>
                            <td>
                                <span class="check"><input type="checkbox" class="checked"></span>
                                <a href="index.html#">Check messages</a>
                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="check"><input type="checkbox" class="checked"></span>
                                <a href="index.html#">Pay bills</a>
                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="check"><input type="checkbox" class="checked"></span>
                                <a href="index.html#">Schedule site </a>
                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                            </td>
                        </tr>
                </tbody>
            </table>
            <hr />
            <table id="todo" class="table table-hover custom-check">
                <tbody>
                    <tr>
                        <th>Subject</th>
                        <th>Beginer</th>
                        <th>Modrate</th>
                        <th>Advance</th>
                        <th>Select</th>
                    </tr>
                    <tr>
                        <td>

                            Math

                        </td>
                        <td>
                            <span class="label label-info large">4333 </span><input type="text" class="form-control" placeholder="Beginer" />

                        </td>
                        <td>
                         <span class="label label-info large">4333 </span><input type="text" class="form-control" placeholder="Moderate" />

                        </td>
                        <td>
                           <span class="label label-info large">4333 </span><input type="text" class="form-control" placeholder="Advance" />

                        </td>
                        <td>
                            <button class="btn btn-warning pull-right "><i class=" fa fa-check"></i>Select</button>
                        </td>
                    </tr>

                   </tbody>
                </table>

                    <section class="tasks-widget">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h4>

                                    Availabe Subject

                                </h4>
                                <div class="clearboth">
                                </div>

                            </div>
                            <br>
                        </div>
                        <div class="panel-body">
                            <div class="task-content">

                                <ul class="task-list">

                                    <li>


                                        <div class="task-title">

                                            <div class="form-group">
                                                <span class="task-title-sp title title-sep lead col-md-12">
                                                    Maths
                                                    <button class="btn btn-warning pull-right "><i class=" fa fa-check"></i>Select</button>
                                                </span>
                                                <div class="col-md-4">
                                                    <span class="label label-info large">Beginer-4333 </span>
                                                    <input type="text" class="form-control" placeholder="Beginer" />
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="label label-info large">Moderate-4333 </span>
                                                    <input type="text" class="form-control" placeholder="Moderate" />
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="label label-info large">Advance-4333 </span>
                                                    <input type="text" class="form-control" placeholder="Advance" />
                                                </div>


                                            </div>


                                        </div>
                                    </li>

                                </ul>
                            </div>


                        </div>
                    </section>

        </div>
    </div>
*@
<div class="row content-panel">

    <!--
                           ====================================================================================================
                           ===================================     EXAM SUBJECT  START      ==============================
                           ====================================================================================================
                        -->




    <section class="col-md-6 tasks-widget">
        <div class="panel-heading">
            <div class="pull-left">
                <h4>

                    Availabe Subject

                </h4>
                <div class="clearboth">
                </div>

            </div>
            <br>
        </div>
        <div class="panel-body">
            <div class="task-content">

                <ul class="task-list">

                    <li>


                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Add</button>
                                </span>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Beginer" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Modrate" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Advance" />
                                </div>
                            </div>


                        </div>
                    </li>

                    <li>


                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Add</button>
                                </span>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Beginer" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Modrate" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Advance" />
                                </div>
                            </div>


                        </div>
                    </li>
                    <li>


                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Add</button>
                                </span>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Beginer" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Modrate" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Advance" />
                                </div>
                            </div>


                        </div>
                    </li>
                    <li>


                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Add</button>
                                </span>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Beginer" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Modrate" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Advance" />
                                </div>
                            </div>


                        </div>
                    </li>
                    <li>


                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Add</button>
                                </span>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Beginer" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Modrate" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Advance" />
                                </div>
                            </div>


                        </div>
                    </li>
                    <li>


                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Add</button>
                                </span>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Beginer" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Modrate" />
                                </div>
                                <div class="col-md-4">
                                    <span class="label label-info large">4333 </span>
                                    <input type="text" class="form-control" placeholder="Advance" />
                                </div>
                            </div>


                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </section>


    <section class="col-md-6 tasks-widget">
        <div class="panel-heading">
            <div class="pull-left">
                <h4>

                    Exam<i class="fa fa-angle-right"></i>Exam Name<i class="fa fa-angle-right"></i>  Subject(s)

                </h4>

                <div class="clearboth">
                </div>

            </div>
            <br>
        </div>
        <div class="panel-body">
            <div class="task-content">

                <ul class="task-list">
                    <li>

                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Remove</button>
                                </span>
                                <div class="col-md-4"><span class="btn btn-info">Beginer <span class="badge">4544 </span></div>
                                <div class="col-md-4"><span class="btn btn-info">Modrate <span class="badge">4544 </span></div>
                                <div class="col-md-4"><span class="btn btn-info">Advance <span class="badge">4544 </span></div>
                            </div>


                        </div>
                    </li>

                    <li>

                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Remove</button>
                                </span>
                                <div class="col-md-4"><span class="btn btn-info">Beginer <span class="badge">4544 </span></div>
                                <div class="col-md-4"><span class="btn btn-info">Modrate <span class="badge">4544 </span></div>
                                <div class="col-md-4"><span class="btn btn-info">Advance <span class="badge">4544 </span></div>
                            </div>


                        </div>
                    </li>

                    <li>

                        <div class="task-title">

                            <div class="form-group">
                                <span class="task-title-sp title title-sep lead col-md-12">
                                    Maths
                                    <button class="btn btn-warning btn-xs pull-right "><i class=" fa fa-check"></i>Remove</button>
                                </span>
                                <div class="col-md-4"><span class="btn btn-info">Beginer <span class="badge">4544 </span></div>
                                <div class="col-md-4"><span class="btn btn-info">Modrate <span class="badge">4544 </span></div>
                                <div class="col-md-4"><span class="btn btn-info">Advance <span class="badge">4544 </span></div>
                            </div>


                        </div>
                    </li>

                </ul>
            </div>

            <div class=" add-task-row">
                <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Save as Draft </a>
                <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">Prepare Question</a>
            </div>
        </div>
    </section>


    @*<div class="col-md-6 content-panel ng-binding">
            <h4>
                Exam  <i class="fa fa-angle-right"></i>
                Availabe Subject
                @Html.ActionLink("List Exams", "Index", null, new { @class = "btn btn-primary pull-right" })
            </h4>
            <div class="clearboth">
            </div>

            <hr />

        </div>*@

</div>
