﻿@model TestSeries.Models.Question
@{
    bool IsNew = false;
    Guid id = Model.ID;
    if (Model == null || ViewBag.IsNew)
    {
        IsNew = true;
        id = Model.ID;
    }
}
<style>
    .CkeDiv {
        min-height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        cursor:text;
    }


    .editor-radio {
        display: inline-block !important;
    }

</style>

<div ng-app="Question">

    <div ng-controller="QuestionController" ng-init="init('@User.Identity.Name',@(IsNew?"true":"false"),'@id')">
        <div>
            <div class="row ">
                <div class="modal-backdrop" style="background:rgba(0, 0, 0, 0.5)!important " ng-hide="Busy">
                    <div style="position:fixed;top:50%;left:25%;width:50%">
                        <div class="modal-body">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" style="width:100%" aria-valuenow="Please wait Loading ....">
                                    Please wait!
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--- Left Main form     --->
                <div class="col-md-9 col-md-9 content-panel">
                    <br />
                    <div>
                        <noscript class="alert alert-danger ">
                            This page requires Javascripts to be enabled to function properly! Please Enable Javascripts !
                        </noscript>
                    </div>
                    <hr />
                    <div class="clearboth">
                    </div>
                    <h4>
                        Question  <i class="fa fa-angle-right"></i>
                        {{IsNew?"Create":"Edit"}}
                        @Html.ActionLink("List Questions", "Index", null, new { @class = "btn btn-primary pull-right" })
                    </h4>
                    <div class="clearboth">
                    </div>
                    <br />
                    Question Id: {{Question.ID}}
                    <hr />
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Question", new { @class = "control-label col-md-2" })
                            <br />
                            <div class="col-md-12">
                                <div ng-model="Question.Query" data-ck-editor="true" class="CkeDiv" ng-bind-html="Question.Query">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Choose Question Type", new { @class = "control-label col-md-5" })
                            <br />
                            <div class="col-md-12">
                                <div class="editor-radio" ng-repeat="qt in QuestionType">
                                    <input ng-model="Question.QuestionType" type="radio" name="QuestionType" value="{{qt.value}}" ng-click="ChangeQT(qt.value)">
                                    <label>{{qt.Label}}</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!--  Answer -->
                            <div ng-switch="Question.QuestionType">
                                <!--  MCQ  -->
                                <div ng-switch-when="0">
                                    <ul style="margin: 0px; padding: 0px;">
                                        <li ng-repeat="a in Question.Answers | orderBy:'Placement'" class="alert alert-info">
                                            <div class="row">
                                                <div class="col-sm-1" style="padding-top:5px">
                                                    <span class="badge bg-info">{{$index+1}}</span>
                                                </div>
                                                <div class="col-sm-10" style="background: #D9EDF7 !important; padding-top: 5px;">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <div id="Option{{$index+1}}" ng-model="Question.Answers[$index].Ans" ng-bind-html="Question.Answers[$index].Ans" data-ck-editor="true" class="CkeDiv">
                                                                </div>
                                                            </div>
                                                            <div class=" col-md-2">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="radio" name="IsCorrectAns" ng-checked="Question.Answers[$index].IsCorrectAns" ng-click="SelectThis($index)">
                                                                        Right Answer
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                    <span class="close" ng-click="Remove($index)">x</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn btn-theme btn-sm pull-right" ng-click="AddAnswer()"><i class="fa fa-plus"></i>Answer</button>
                                </div>
                                <!-- End MCQ -->
                                <!--  MSQ  -->
                                <div ng-switch-when="1">
                                    <!--
                                       ====================================================================================================
                                       ===================================      ANSWER PREPRATION START      ==============================
                                       ====================================================================================================
                                    -->
                                    <ul style="margin: 0px; padding: 0px;">
                                        <li ng-repeat="a in Question.Answers | orderBy:'Placement'" class="alert alert-info">
                                            <div class="row">
                                                <div class="col-sm-1" style="padding-top:5px">
                                                    <span class="badge bg-info">{{$index+1}}</span>
                                                </div>
                                                <div class="col-sm-10" style="background: #D9EDF7 !important; padding-top: 5px;">
                                                    <div class="form-group">
                                                        <div class="row">

                                                            <div class="col-md-10">

                                                                <div id="Option{{$index+1}}" ng-model="Question.Answers[$index].Ans" ng-bind-html="Question.Answers[$index].Ans" data-ck-editor="true" class="CkeDiv">

                                                                </div>

                                                            </div>

                                                            <div class=" col-md-2">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" ng-model="Question.Answers[$index].IsCorrectAns">
                                                                        Right Answer
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-1">
                                                    <span class="close" ng-click="Remove($index)">x</span>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </li>


                                    </ul>

                                    <!--
                                       ====================================================================================================
                                       ===================================      ANSWER PREPRATION END      ================================
                                       ====================================================================================================
                                    -->

                                    <button type="button" class="btn btn-theme btn-sm pull-right" ng-click="AddAnswer()"><i class="fa fa-plus"></i>Answer</button>
                                </div>
                                <!-- End MSQ-->
                                <!-- Y/N -->
                                <div ng-switch-when="2">
                                    <ul style="margin: 0px; padding: 0px;">
                                        <li ng-repeat="a in Question.Answers | orderBy:'Placement'" class="alert alert-info">
                                            <div class="row">
                                                <div class="col-sm-1" style="padding-top:5px">
                                                    <span class="badge bg-info">{{$index+1}}</span>
                                                </div>
                                                <div class="col-sm-10" style="background: #D9EDF7 !important; padding-top: 5px;">
                                                    <div class="form-group">
                                                        <div class="row">

                                                            <div class="col-md-10">

                                                                <div id="Option{{$index+1}}" ng-model="Question.Answers[$index].Ans" ng-bind-html="Question.Answers[$index].Ans" data-ck-editor="true" class="CkeDiv">

                                                                </div>

                                                            </div>

                                                            <div class=" col-md-2">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="radio" name="IsCorrectAns" ng-checked="Question.Answers[$index].IsCorrectAns" ng-click="SelectThis($index)">
                                                                        Right Answer
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-1">
                                                    @*<span class="close" ng-click="Remove($index)">x</span>*@
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </li>


                                    </ul>
                                </div>
                                <!-- End Y/N -->
                                <!-- T/F-->
                                <div ng-switch-when="3">
                                    <ul style="margin: 0px; padding: 0px;">
                                        <li ng-repeat="a in Question.Answers | orderBy:'Placement'" class="alert alert-info">
                                            <div class="row">
                                                <div class="col-sm-1" style="padding-top:5px">
                                                    <span class="badge bg-info">{{$index+1}}</span>
                                                </div>
                                                <div class="col-sm-10" style="background: #D9EDF7 !important; padding-top: 5px;">
                                                    <div class="form-group">
                                                        <div class="row">

                                                            <div class="col-md-10">

                                                                <div id="Option{{$index+1}}" ng-model="Question.Answers[$index].Ans" ng-bind-html="Question.Answers[$index].Ans" data-ck-editor="true" class="CkeDiv">

                                                                </div>

                                                            </div>

                                                            <div class=" col-md-2">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="radio" name="IsCorrectAns" ng-checked="Question.Answers[$index].IsCorrectAns" ng-click="SelectThis($index)">
                                                                        Right Answer
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-sm-1">
                                                    @*<span class="close" ng-click="Remove($index)">x</span>*@
                                                </div>
                                            </div>


                                            <div class="clearfix"></div>
                                        </li>


                                    </ul>
                                </div>
                                <!-- End T/F -->
                            </div>
                            <!--  End Answer  -->
                        </div>
                        <!--  Solution Section -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="Solution">Question Solution</label>
                                <div ng-model="Question.Solution" data-ck-editor="true" ng-bind-html="Question.Solution" class="CkeDiv">

                                </div>


                            </div>
                        </div>
                        <!-- End Solution Section -->
                    </div>
                </div>
                <!---  Left  End Form     --->
                <!--Right form section-->
                <div class="col-md-3 bg-inverse  content-panel">
                    <div class="">
                        <!--COMPLETED ACTIONS DONUTS CHART-->
                        <h4>Question Setting</h4>
                        <hr />
                        <!-- First Action -->

                        <div class="desc">
                            <div class="aligncenter">
                                <span class="label label-info">
                                    {{(!Quesstion.Published&&IsNew?"New Question":(Question.Published)?"Publised":"Saved(Not Published)")}}
                                </span>
                            </div>
                            <hr />
                            <button type="button" class="btn  btn-sm pull-left" ng-click="SaveQuestion(false)">Save as Draft</button>
                            <button type="button" class="btn btn-sm pull-right" ng-click="SaveQuestion(true)">Publish</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="desc">
                            <div class="details">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="Question.IsImportant">
                                                Important Question
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="desc">
                            <!---   Start Subject    -->
                            <div class="details">
                                <div class="form-group">
                                    <span class="label label-default">Subject</span>
                                    <div class="input-group">
                                        <select ng-model="Question.SubjectId" ng-options="sub.Id as sub.Name for sub in Subjects" ng-change="LoadUnits()" class="form-control">

                                            <option>--Select--</option>
                                        </select>
                                        <div class="input-group-addon">
                                            <button type="button" class="" ng-click="AddSubjectUi()"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <script type="text/ng-template" id="myModalContent.html">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Add Subject.</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-10 col-lg-offset-1">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <input type="text" ng-model="Sub.Name" class="form-control" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <textarea ng-model="Sub.Description" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                        </div>
                                    </script>
                                </div>
                            </div>
                            <!---   End   Subject    -->
                        </div>

                        <div class="panel">

                            <div class="form-group">
                                <h5>@Html.Label("Type Unit/Chapter(s) Name")</h5>

                                <div class="input-group">

                                    <input type="text" class="form-control" id="exampleInputAmount" ng-model="search.Name" placeholder="Type unit/chapter name">
                                    <div class="input-group-addon"><button class="" type="button" ng-click="AddUnitUi()"><i class="fa fa-plus"></i></button></div>
                                </div>
                                <!--     UNIT Modal UI          -->
                                <script type="text/ng-template" id="UnitModalContent.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Add Unit.</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" ng-model="Unit.Name" class="form-control" />
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                    </div>
                                </script>
                                <!-- Unit Modal End-->
                            </div>
                            <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y" style="max-height:300px;">
                                <ol class="bounce" style="margin:0px; padding:0px; list-style:none">
                                    <li ng-repeat="u in DisplayUnits">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" ng-click="AddToUnits(u)">
                                                {{u.Name}}
                                            </label>
                                        </div>
                                    </li>
                                    <li ng-repeat="su in Question.UnitOrChapters">
                                        <div class="checkbox alert alert-info">
                                            <label>
                                                <input type="checkbox" checked ng-click="RemoveFromUnits($index)">
                                                {{su.Name}}
                                            </label>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label" for="Solution">Question Marking</label>
                            <input type="text" ng-model="Question.QuestionWeightage" class="form-control" />

                        </div>
                        <div class="form-group">
                            <h5>@Html.Label("Timing")</h5>
                            <div class="input-group">
                                <div class="input-group-addon"><input type="checkbox" ng-model="Question.TimeBounded" /></div>
                                <input type="text" class="form-control" ng-model="Question.TimeBound" ng-disabled="!Question.TimeBounded" placeholder="Enter Second">
                                <div class="input-group-addon">Second</div>
                            </div>

                        </div>

                        <div class="desc">
                            <hr />
                            <h5>Dfficulty Level</h5>
                            <div class="editor-radio" ng-repeat="lvl in Level">
                                <input ng-model="Question.QuestionLevel" name="QuestionLevel" type="radio" value="{{lvl.value}}">
                                <label for="">{{lvl.Label}}</label>
                            </div>
                        </div>

                        <hr />
                        <div class="desc">
                            <button type="button" class="btn btn-theme btn-sm pull-left" ng-click="SaveQuestion(false)">Save as Draft</button>
                            <button type="button" class="btn btn-theme btn-sm pull-right" ng-click="SaveQuestion(true)">Publish</button>
                            <div class="clearfix"></div>
                        </div>

                        <hr />

                    </div>


                </div>
                <!-- Right form section End  -->

            </div>

            <div class="clearboth"></div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/angular-busy.min.css" rel="stylesheet" />
    <script src="~/Assets/ckeditorFull/ckeditor.js"></script>
    <link href="~/Content/toaster.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/toaster.js"></script>
    <script src="~/Scripts/angular-busy.min.js"></script>
    <script src="~/Scripts/QuestionEntry.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <link href="~/Assets/adminTheme/Theme/assets/CustomeScroll/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script src="~/Assets/adminTheme/Theme/assets/CustomeScroll/jquery.mCustomScrollbar.concat.min.js"></script>

}
