﻿@model TestSeries.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionWeightage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionWeightage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeBounded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBounded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeBound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBound)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
