﻿@model IEnumerable<TestSeries.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Query)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedOn)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionType)
        </th>
       
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.Raw(item.Query)
        </td>
        <td>
            @string.Format("{0:dd MMM yyyy}",item.AddedOn)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionType)
        </td>
        
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new {@class="label label-success" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "label label-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "label label-info" })
        </td>
    </tr>
}

</table>
