﻿@model TestSeries.Models.UnitOrChapter

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="content-panel form-panel">
        <h4>Unit/Chapter(S)  <i class="fa fa-angle-right"></i>Create @Html.ActionLink(" List Unit/Chapter(s)", "Index", null, new { @class = "btn btn-primary pull-right" })</h4>


        <div class="clearboth"></div>
        <hr />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true)

                
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
             
                    <div class="form-group">
                        @Html.LabelFor(model => model.AddedOn, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AddedOn)
                            @Html.ValidationMessageFor(model => model.AddedOn)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
             


            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




