﻿@model IEnumerable<TestSeries.Models.UnitOrChapter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="content-panel form-panel">
        <h4><i class="fa fa-angle-right"></i>Unit/Chapter(s) @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary pull-right" })</h4>


        <div class="clearboth"></div>
        <hr>

        <table class="table table-striped table-advance table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedOn)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedOn)
                    </td>
                    <td>
                        <a href="@Url.Action("Details","Subject",new{id=item.Id})" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                        <a href="@Url.Action("Edit","Subject",new{id=item.Id})" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action("Delete","Subject",new{id=item.Id})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
  </td>
                </tr>
            }

        </table>
</div>