﻿@model TestSeries.Models.Answers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Answers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Query.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCorrectAns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCorrectAns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exams)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
