﻿@model TestSeries.Models.Answers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Answers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Query.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCorrectAns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCorrectAns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exams)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
