﻿<!DOCTYPE html>

<html>
<head>

   
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--[if lte IE 8]>
    <script type="text/javascript" src="/Assets/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" id="avada-stylesheet-css" href="/Assets/css/style.css" type="text/css" media="all">
    <link href="/Assets/css/StyleSheet.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" id="avada-animations-css" href="/Assets/css/animations.css" type="text/css" media="all">
    <link rel="stylesheet" id="fontawesome-css" href="fonts/fontawesome/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" id="avada-media-css" href="/Assets/css/media.css" type="text/css" media="all">
    <link rel="stylesheet" id="avada-ipad-css" href="/Assets/css/ipad.css" type="text/css" media="all">
    @*<script type="text/javascript" src="/Assets/js/jquery.js"></script>*@
    <!--[if lte IE 9]>
    <link rel='stylesheet' id='avada-IE-fontawesome-css'  href='/Assets/fonts/fontawesome/font-awesome.css?ver=3.7.1' type='text/css' media='all' />
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel='stylesheet' id='avada-IE8-css'  href='/Assets/css/ie8.css?ver=3.7.1' type='text/css' media='all' />
    <![endif]-->
    <!--[if IE]>
    <link rel='stylesheet' id='avada-IE-css'  href='/Assets/css/ie.css?ver=3.7.1' type='text/css' media='all' />
    <![endif]-->
 

    <script type="text/javascript">
        /* <![CDATA[ */
        var js_local_vars = { "protocol": "", "theme_url": "", "dropdown_goto": "Go to...", "mobile_nav_cart": "Shopping Cart", "page_smoothHeight": "false", "flex_smoothHeight": "false", "language_flag": "", "infinite_blog_finished_msg": "<em>All posts displayed.<\/em>", "infinite_finished_msg": "<em>All items displayed.<\/em>", "infinite_blog_text": "<em>Loading the next set of posts...<\/em>", "portfolio_loading_text": "<em>Loading Portfolio Items...<\/em>", "faqs_loading_text": "<em>Loading FAQ Items...<\/em>", "order_actions": "Details", "avada_rev_styles": "1", "avada_styles_dropdowns": "0", "blog_grid_column_spacing": "40", "blog_pagination_type": "Pagination", "custom_icon_image_retina": "", "disable_mobile_animate_css": "1", "portfolio_pagination_type": "Pagination", "header_position": "Top", "header_sticky": "1", "ipad_potrait": "0", "is_responsive": "1", "layout_mode": "wide", "lightbox_animation_speed": "Fast", "lightbox_autoplay": "0", "lightbox_desc": "1", "lightbox_deeplinking": "1", "lightbox_gallery": "1", "lightbox_opacity": "0.8", "lightbox_post_images": "1", "lightbox_slideshow_speed": "5000", "lightbox_social": "1", "lightbox_title": "1", "logo_alignment": "Left", "megamenu_max_width": "1100px", "pagination_video_slide": "0", "retina_icon_height": "", "retina_icon_width": "", "submenu_slideout": "1", "sidenav_behavior": "Hover", "site_width": "1100px", "slideshow_autoplay": "1", "slideshow_speed": "7000", "status_lightbox_mobile": "1", "status_totop_mobile": "0", "status_vimeo": "0", "status_yt": "0", "testimonials_speed": "4000", "tfes_animation": "sides", "tfes_autoplay": "1", "tfes_interval": "3000", "tfes_speed": "800", "tfes_width": "150", "woocommerce_shop_page_columns": "4", "mobile_menu_design": "classic", "isotope_type": "masonry", "page_title_fading": "0" };
        /* ]]> */
    </script>

</head>

</head>

<body class="home" data-spy="scroll">
    <div id="wrapper" class="">

        <div class="header-wrapper">
            <div class="header-v1">
                <header id="header">
                    <div class="avada-row" style="padding-top:0px;padding-bottom:0px;" data-padding-top="0px" data-padding-bottom="0px">
                        <div class="logo" data-margin-right="0px" data-margin-left="0px" data-margin-top="10px" data-margin-bottom="0px" style="margin-right:0px;margin-top:10px;margin-left:0px;margin-bottom:0px;">
                            <a href="http://www.deeka.in/test">
                                <h1>Test Series</h1>
                                <!--<img src="./Home Version 3 - Free Online Test Series_files/whitelogo-copy.png" alt="Free Online Test Series" class="normal_logo">
                                <img src="./Home Version 3 - Free Online Test Series_files/whitelogo-copy.png" alt="Free Online Test Series" style="height: auto !important; width: 150px;" class="retina_logo">-->
                            </a>
                        </div>
                        <!-- <nav id="nav" class="nav-holder" data-height="83px">
                             <ul class="navigation menu fusion-navbar-nav" style="overflow:hidden">
                                 <li id="menu-item-11000" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-35 current_page_item menu-item-11000"><a href="./Home Version 3 - Free Online Test Series_files/Home Version 3 - Free Online Test Series.html">Home</a></li>
                                 <li id="menu-item-11011" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11011 fusion-dropdown-menu">
                                     <a href="http://www.deeka.in/test/#" aria-haspopup="true">JEE <span class="caret"></span></a>
                                     <ul class="sub-menu">
                                         <li id="menu-item-11007" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11007 fusion-dropdown-submenu"><a href="http://www.deeka.in/test/#" aria-haspopup="true">JEE-Main</a></li>
                                         <li id="menu-item-11008" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11008 fusion-dropdown-submenu"><a href="http://www.deeka.in/test/#" aria-haspopup="true">JEE-Advance</a></li>
                                     </ul>
                                 </li>
                                 <li id="menu-item-11009" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11009"><a href="http://www.deeka.in/test/#">CBSE</a></li>
                                 <li id="menu-item-11001" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11001"><a href="http://www.deeka.in/test/#">BITSAT</a></li>
                                 <li id="menu-item-11002" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11002"><a href="http://www.deeka.in/test/#">AIPMT/CET /AIIMS</a></li>
                                 <li id="menu-item-11003" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11003"><a href="http://www.deeka.in/test/#">EXPERT FACULTY</a></li>
                                 <li id="menu-item-11004" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11004"><a href="http://www.deeka.in/test/#">JEE 2014 TOPPERS</a></li>
                                 <li class="cart">
                                     <a class="my-cart-link" href="http://www.deeka.in/test/cart/"></a>
                                 </li>

                                 <li class="main-nav-search last-menu-item">
                                     <a id="main-nav-search-link" class="search-link"></a>
                                     <div id="main-nav-search-form" class="main-nav-search-form">
                                         <form role="search" class="searchform" method="get" action="./Home Version 3 - Free Online Test Series_files/Home Version 3 - Free Online Test Series.html">
                                             <div class="search-table">
                                                 <div class="search-field">
                                                     <input type="text" value="" name="s" class="s">
                                                 </div>
                                                 <div class="search-button">
                                                     <input type="submit" class="searchsubmit" value="">
                                                 </div>
                                             </div>
                                         </form>
                                     </div>
                                 </li>
                             </ul>
                         </nav>-->
                        <!----Mobile Menu -->
                        <div class="mobile-nav-holder main-menu">
                            <div class="mobile-selector"><span>Go to...</span><div class="selector-down"></div></div><ul class="navigation menu" style="overflow:hidden" id="mobile-nav">
                                <li id="mobile-menu-item-11000" class="mobile-nav-item mobile-current-nav-item" style=""><a href="./Home Version 3 - Free Online Test Series_files/Home Version 3 - Free Online Test Series.html">Home</a></li>
                                <li id="mobile-menu-item-11011" class="mobile-nav-item" style="">
                                    <span href="#" aria-haspopup="true" class="open-submenu"></span><a href="#">JEE </a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="mobile-menu-item-11007" class="mobile-nav-item" style=""><a href="#">JEE-Main</a></li>
                                        <li id="mobile-menu-item-11008" class="mobile-nav-item" style=""><a href="#">JEE-Advance</a></li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-11009" class="mobile-nav-item" style=""><a href="#">CBSE</a></li>
                                <li id="mobile-menu-item-11001" class="mobile-nav-item" style=""><a href="#">BITSAT</a></li>
                                <li id="mobile-menu-item-11002" class="mobile-nav-item" style=""><a href="#">AIPMT/CET /AIIMS</a></li>
                                <li id="mobile-menu-item-11003" class="mobile-nav-item" style=""><a href="#">EXPERT FACULTY</a></li>
                                <li id="mobile-menu-item-11004" class="mobile-nav-item" style=""><a href="#">JEE 2014 TOPPERS</a></li>


                            </ul>
                        </div>
                        <!----Mobile Menu END-->

                    </div>
                </header>
            </div>
            <div class="init-sticky-header"></div>
        </div>

        <header id="header-sticky" class="sticky-header" style="top: 0px; display: none;">
            <div class="sticky-shadow" style="top: 0px;">
                <div class="avada-row">
                    <div class="logo">
                        <a href="http://www.deeka.in/test">
                            <h1>Test Series</h1>
                            <!--<img src="./Home Version 3 - Free Online Test Series_files/whitelogo-copy.png" alt="Free Online Test Series" data-max-width="" class="normal_logo">
                            <img src="./Home Version 3 - Free Online Test Series_files/whitelogo-copy.png" alt="Free Online Test Series" style="height: 45px; width: 150px;" data-max-width="" class="retina_logo">-->
                        </a>
                    </div>
                    <nav id="sticky-nav" class="nav-holder">
                        <!-- <ul class="navigation menu fusion-navbar-nav">
                            <li id="sticky-menu-item-11000" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-35 current_page_item menu-item-11000"><a href="./Home Version 3 - Free Online Test Series_files/Home Version 3 - Free Online Test Series.html">Home</a></li>
                            <li id="sticky-menu-item-11011" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11011 fusion-dropdown-menu">
                                <a href="http://www.deeka.in/test/#" aria-haspopup="true">JEE <span class="caret"></span></a>
                                <ul class="sub-menu">
                                    <li id="sticky-menu-item-11007" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11007 fusion-dropdown-submenu"><a href="http://www.deeka.in/test/#" aria-haspopup="true">JEE-Main</a></li>
                                    <li id="sticky-menu-item-11008" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11008 fusion-dropdown-submenu"><a href="http://www.deeka.in/test/#" aria-haspopup="true">JEE-Advance</a></li>
                                </ul>
                            </li>
                            <li id="sticky-menu-item-11009" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11009"><a href="http://www.deeka.in/test/#">CBSE</a></li>
                            <li id="sticky-menu-item-11001" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11001"><a href="http://www.deeka.in/test/#">BITSAT</a></li>
                            <li id="sticky-menu-item-11002" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11002"><a href="http://www.deeka.in/test/#">AIPMT/CET /AIIMS</a></li>
                            <li id="sticky-menu-item-11003" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11003"><a href="http://www.deeka.in/test/#">EXPERT FACULTY</a></li>
                            <li id="sticky-menu-item-11004" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11004"><a href="http://www.deeka.in/test/#">JEE 2014 TOPPERS</a></li>
                           <li class="cart">
                                <a class="my-cart-link" href="http://www.deeka.in/test/cart/"></a>
                            </li>

                            <li class="main-nav-search last-menu-item">
                                <a id="sticky-nav-search-link" class="search-link"></a>
                                <div id="sticky-nav-search-form" class="main-nav-search-form">
                                    <form role="search" class="searchform" method="get" action="./Home Version 3 - Free Online Test Series_files/Home Version 3 - Free Online Test Series.html">
                                        <div class="search-table">
                                            <div class="search-field">
                                                <input type="text" value="" name="s" class="s">
                                            </div>
                                            <div class="search-button">
                                                <input type="submit" class="searchsubmit" value="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>-->
                    </nav>


                    <div class="mobile-nav-holder" style="padding-left: 175px;">
                        <div class="mobile-selector"><span>Go to...</span><div class="selector-down"></div></div><ul class="navigation mobile-sticky-nav" id="mobile-nav" style="display: none;">
                            <li class="mobile-nav-item mobile-current-nav-item"><a href="./Home Version 3 - Free Online Test Series_files/Home Version 3 - Free Online Test Series.html">Home</a></li>
                            <li class="mobile-nav-item">
                                <span href="#" aria-haspopup="true" class="open-submenu"></span><a href="http://www.deeka.in/test/#">JEE </a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="mobile-nav-item"><a href="http://www.deeka.in/test/#">JEE-Main</a></li>
                                    <li class="mobile-nav-item"><a href="http://www.deeka.in/test/#">JEE-Advance</a></li>
                                </ul>
                            </li>
                            <li class="mobile-nav-item"><a href="http://www.deeka.in/test/#">CBSE</a></li>
                            <li class="mobile-nav-item"><a href="http://www.deeka.in/test/#">BITSAT</a></li>
                            <li class="mobile-nav-item"><a href="http://www.deeka.in/test/#">AIPMT/CET /AIIMS</a></li>
                            <li class="mobile-nav-item"><a href="http://www.deeka.in/test/#">EXPERT FACULTY</a></li>
                            <li class="mobile-nav-item"><a href="http://www.deeka.in/test/#">JEE 2014 TOPPERS</a></li>
                            <li class="mobile-nav-item">
                                <a class="my-cart-link" href="http://www.deeka.in/test/cart/">Shopping Cart</a>
                            </li>

                        </ul>
                    </div>



                </div>
            </div>
        </header>
        <div class="page-title-container page-title-container-breadcrumbs page-title-left">
            <div class="page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-captions">
                        <h1 class="entry-title">@ViewBag.Title</h1>
                    </div>
                    <ul class="breadcrumbs"><li> <a href="http://www.deeka.in/test">Home</a></li><li><a href="http://www.deeka.in/test/category/uncategorized/" title="Uncategorized">Uncategorized</a></li><li>Hello world!</li></ul>
                </div>
            </div>
        </div>
        <div id="main" class="clearfix " style="">
            @if (TempData["Success"] != null)
            {
            <div class="alert alert-success" role="alert">@TempData["Success"]</div>
            }
            @if (TempData["Info"] != null)
            {
                <div class="alert alert-info" role="alert">@TempData["Info"]</div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">@TempData["Error"]</div>
            }
            @if (IsSectionDefined("right"))
            {
                <div class="col-md-9">
                    @RenderBody()
                </div>
                @RenderSection("right", false)
            }
            else
            {<div class="col-md-12">
                @RenderBody()
            </div> }




        </div>



        <!--<footer class="footer-area">
            <div class="avada-row">
                <div class="fusion-columns row fusion-columns-4 columns columns-4">

                    <div class="fusion-column col col-lg-3 col-md-3 col-sm-3 ">
                        <div id="text-3" class="footer-widget-col widget_text">
                            <div class="textwidget">
                                <p><img src="./Home Version 3 - Free Online Test Series_files/whitelogo-copy.png" alt=""></p>
                                <p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...</p>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>

                    <div class="fusion-column col col-lg-3 col-md-3 col-sm-3">
                        <div id="recent-posts-6" class="footer-widget-col widget_recent_entries">
                            <h3>Recent Posts</h3>		<ul>
                                <li>
                                    <a href="http://www.deeka.in/test/2014/12/31/hello-world/">Hello world!</a>
                                </li>
                                <li>
                                    <a href="http://www.deeka.in/test/2012/07/31/praesent-et-urna-turpis-sadips/">Praesent Et Urna Turpis</a>
                                </li>
                                <li>
                                    <a href="http://www.deeka.in/test/2012/07/31/donec-at-mauris-enim-duis-nisi-tellus/">Donec At Mauris Enims</a>
                                </li>
                                <li>
                                    <a href="http://www.deeka.in/test/2012/07/31/class-aptent-taciti-sociosqu-ad-litora/">Class Aptent Taciti Soci Ad Litora</a>
                                </li>
                                <li>
                                    <a href="http://www.deeka.in/test/2012/07/31/nullam-vitae-nibh-un-odio/">Nullam Vitae Nibh Un Odiosters</a>
                                </li>
                            </ul>
                            <div style="clear:both;"></div>
                        </div>
                    </div>

                    <div class="fusion-column col col-lg-3 col-md-3 col-sm-3">
                        <div id="categories-7" class="footer-widget-col widget_categories">
                            <h3>Categories</h3>		<ul>
                                <li class="cat-item cat-item-6">
                                    <a href="http://www.deeka.in/test/category/creative/">Creative</a>
                                </li>
                                <li class="cat-item cat-item-7">
                                    <a href="http://www.deeka.in/test/category/design/">Design</a>
                                </li>
                                <li class="cat-item cat-item-1">
                                    <a href="http://www.deeka.in/test/category/uncategorized/">Uncategorized</a>
                                </li>
                                <li class="cat-item cat-item-8">
                                    <a href="http://www.deeka.in/test/category/videos/">Videos</a>
                                </li>
                            </ul>
                            <div style="clear:both;"></div>
                        </div>
                    </div>

                    <div class="fusion-column col last col-lg-3 col-md-3 col-sm-3">
                        <div id="recent_works-widget-6" class="footer-widget-col recent_works">
                            <h3>Recent Works</h3>		<div class="recent-works-items clearfix">
                                <a href="http://www.deeka.in/test/portfolio-items/donec-ornare-turpis-eget/" title="Donec Ore Turis Eget">
                                    <img width="66" height="42" src="./Home Version 3 - Free Online Test Series_files/portfolio_11.jpg" class="attachment-recent-works-thumbnail wp-post-image" alt="portfolio_1">
                                </a>
                                <a href="http://www.deeka.in/test/portfolio-items/mauris-fringilla-voluts/" title="Mauris Fringilla Voluts">
                                    <img width="66" height="42" src="./Home Version 3 - Free Online Test Series_files/portfolio_61.jpg" class="attachment-recent-works-thumbnail wp-post-image" alt="portfolio_6">
                                </a>
                                <a href="http://www.deeka.in/test/portfolio-items/proin-sodales-quam/" title="Proin Sodales Quam">
                                    <img width="66" height="42" src="./Home Version 3 - Free Online Test Series_files/portfolio_21.jpg" class="attachment-recent-works-thumbnail wp-post-image" alt="portfolio_2">
                                </a>
                                <a href="http://www.deeka.in/test/portfolio-items/nam-viverra-euismod/" title="Nam Viverra Euismod">
                                    <img width="66" height="42" src="./Home Version 3 - Free Online Test Series_files/portfolio_31.jpg" class="attachment-recent-works-thumbnail wp-post-image" alt="portfolio_3">
                                </a>
                                <a href="http://www.deeka.in/test/portfolio-items/curabitur-malesuada-lorem/" title="Curabitur Malada Lorem">
                                    <img width="66" height="42" src="./Home Version 3 - Free Online Test Series_files/portfolio_41.jpg" class="attachment-recent-works-thumbnail wp-post-image" alt="portfolio_4">
                                </a>
                                <a href="http://www.deeka.in/test/portfolio-items/suspendisse-pharetra-urna/" title="Suspende Phara Urna">
                                    <img width="66" height="42" src="./Home Version 3 - Free Online Test Series_files/portfolio_51.jpg" class="attachment-recent-works-thumbnail wp-post-image" alt="portfolio_5">
                                </a>

                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>


                    <div class="fusion-clearfix"></div>
                </div>
            </div>
        </footer>-->



        <footer id="footer">
            <div class="avada-row">
                <div class="copyright-area-content">
                    <div class="copyright" style="padding-bottom: 0px;">
                        <div>Copyright &copy; @DateTime.Now.Year Free Online Test Series  | All Rights Reserved | Powered by <a href="http://ctzit.com/">CTZIT.COM</a> </div>
                    </div>

                    <div class="fusion-social-links-footer" style="display: none;">
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">*@

    <script type="text/javascript" src="/Assets/js/main.js"></script>

    <script type="text/javascript" src="/Assets/js/modernizr-min.js"></script>

</body>



</html>
