﻿@model TestSeries.Models.Subject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="content-panel form-panel">
        <h4>Subject  <i class="fa fa-angle-right"></i>Details  <i class="fa fa-angle-right"></i>@Model.Name @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary pull-right" })</h4>


        <div class="clearboth"></div>
        <hr />
       

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.Raw(Model.Description)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary " }) |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </p>

</div>