﻿@model IEnumerable<TestSeries.Models.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="content-panel form-panel">
        <h4><i class="fa fa-angle-right"></i>Subjects @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary pull-right" })</h4>


        <div class="clearboth"></div>
        <hr>


        <table class="table table-striped table-advance table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                    </td>

                    <td>
                        <a href="@Url.Action("Details","Subject",new{id=item.Id})" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                        <a href="@Url.Action("Edit","Subject",new{id=item.Id})" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action("Delete","Subject",new{id=item.Id})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>*@
                </tr>
            }

        </table>

    </div>
</div>