﻿@using TestSeries.Models
@model LoginViewModel



<h2>@ViewBag.Title.</h2>
<div class="row">
    
        <section id="loginForm">

            <div class="col-md-offset-8 panel panel-primary col-md-4">
                <div class="panel-heading">
                    <h4 class="panel-title">Use your account detail to log in.</h4>
                </div>
                <div class="panel-body">


                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                       
                     
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                           
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Enter Phone No./E-Mail" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                           
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="checkbox pull-left col-md-offset-1">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, new { style="padding-left:0px;"})
                                </div>
                                <input type="submit" value="Log in" class="btn btn-primary pull-right" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                               
                            </div>
                        </div>
                        <p>
                           
                            <h2>Don't have Account</h2>
                           <a href="@Url.Action("Register", "Account")" class="btn btn-info" >Register as a new user</a>
                            
                        </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                        
                        
                    }
                    </</div>
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
        </section>
    </div>
    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}