﻿@model TestSeries.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>*@

    <div class="avada-row" style="">
        <div id="content" style="width:100%">





            <div class="col-md-offset-8 panel panel-primary col-md-4" style="margin-top:65px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Don't Have Account!</h3>
                 
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(i => i.Name)
                        @*<label for="studentName">Name</label>*@
                        @Html.TextBoxFor(i => i.Name, new { placeholder = "Enter Your Name" })
                        @Html.ValidationMessageFor(i => i.Name)
                        @*<input type="text" class="form-control" id="studentName" name="studentName" placeholder="Enter Your Name">*@
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Email)
                        @*<label for="studentName">Name</label>*@
                        @Html.TextBoxFor(i => i.Email, "", new { placeholder = "Enter your email" })
                        @Html.ValidationMessageFor(i => i.Email)
                        @*<input type="text" class="form-control" id="studentName" name="studentName" placeholder="Enter Your Name">*@
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(i => i.ContactNo)
                        @*<label for="studentName">Name</label>*@
                        @Html.TextBoxFor(i => i.ContactNo, "", new { placeholder = "Enter your contact no." })
                        @Html.ValidationMessageFor(i => i.ContactNo)
                        @*<input type="text" class="form-control" id="studentName" name="studentName" placeholder="Enter Your Name">*@
                    </div>
                    <!--<button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">Login
                    </button>-->
                    @if (TempData["Msg"] != null)
                    {
                        <div class="alert alert-success" role="alert">@TempData["Msg"]</div>
                    }
                    <button type="submit" class="btn btn-primary pull-right">Register</button>

                </div>
            </div>



        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
